@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --- MODO CLARO (LIGHT) --- */
    --background: 243 244 246;
    --surface: 255 255 255;
    --text-primary: 31 41 55;
    --text-secondary: 75 85 99;
    --border: 229 231 235;
    --sidebar-bg: 17 24 39;
    --sidebar-text: 255 255 255;
  }

  .dark {
    /* --- MODO ESCURO (DARK) --- */
    --background: 17 24 39;
    --surface: 31 41 55;
    --text-primary: 243 244 246;
    --text-secondary: 156 163 175;
    --border: 55 65 81;
    --sidebar-bg: 0 0 0;
    --sidebar-text: 229 231 235;
  }

  /* Scrollbar Customizada Global */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(156, 163, 175, 0.4);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(156, 163, 175, 0.7);
  }

  /* Para Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(156, 163, 175, 0.4) transparent;
  }

  body {
    @apply bg-background text-text-primary transition-colors duration-300 antialiased;
    overflow: hidden; /* Evita scroll duplo no body */
  }
}